# Data Structures

- Lists
- Tuples
- Sets
- Dictionaries and 
- Compound Data Structures

In [3]:
# List and Membership Operators

list_example_2 = list()

list_example = [1, "a", list_example_2, True, False] #list()

# list_example == list_example_2 # True

list_example

[1, 'a', [], True, False]

In [6]:
# length

len(list_example)

5

In [17]:
# Indexing list items

# Last element
index_number = -1#len(list_example)-1
initial_list = [1,"a", True]
reversed_list = [True,"a",1]
# -3 -2 -1 0 1 2
print(f"Item at index {index_number} is: ", initial_list[index_number])

Item at index 2 is:  True

In [26]:
# List Slicing

states = ["Lagos", "Oyo", "Kano", "Rivers", "Kogi", "Kwara"]

start_index = 2
end_index = 6

states[start_index : end_index]

['Kano', 'Rivers', 'Kogi', 'Kwara']

In [22]:
print(len(states))

6

In [30]:
# `in` and `not in`

list_of_numbers = [0, 1, 2, 3, 4]

0 not in list_of_numbers

False

In [33]:
# Mutability and Order

# list_of_months = ["Jan", "Feb", "Mar", "Apr"]

list_of_months[2] = "03"

list_of_months

['01', 'Feb', '03', '04']

In [37]:
today = "Saturday"
today[0] = "7"

TypeError: 'str' object does not support item assignment

In [40]:
# Order

list_of_years = [2020, 2021, 2022]

copy_of_list_of_years = list_of_years

copy_of_list_of_years[-1] == list_of_years[-1]

True

In [45]:
# Example

# Select the three most recent dates from the list using list slicing notation

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

start_index = -3
# end_index = len(eclipse_dates)

eclipse_dates[start_index:]

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

## List Methods

- len() - returns the number of elements
- max() - returns the greatest element
- min() - returns the least element
- sorted() - returns a copy of a list ordered from smallest to largest
- reversed() - returns the revered order of items in the list
- join() - returns list elements joined by specified separator
- append() - adds an element to the end of a list and return the new list
- extend() - returns a new list with items from the extended list joined to the default list

In [61]:
list_of_numbers = [1,2,3,4,5]
list_of_str = list(map(str, list_of_numbers))

print("lenth of list items: " , len(list_of_numbers))
print("max of list items: " , max(list_of_numbers))
print("min of list items: " , min(list_of_numbers))
print("sorted list items: " , sorted(list_of_numbers))
print("reversed list items: " , reversed(list_of_numbers))
print("joined list items: " , "**".join(list_of_str))
print("append new list items: " , list_of_str.append(True))
list_of_str

lenth of list items:  5
max of list items:  5
min of list items:  1
sorted list items:  [1, 2, 3, 4, 5]
reversed list items:  <list_reverseiterator object at 0x000001E4EC5DDF30>
joined list items:  1**2**3**4**5
append new list items:  None

['1', '2', '3', '4', '5', True]

In [66]:
q1 = ["Jan", "Feb", "Mar"]
q2 = ["Apr", "May", "Jun"]

q1.append(q2)

print("Appended List: ", q1)

q1 = ["Jan", "Feb", "Mar"]
q1.extend(q2)

print("Extend List: ", q1)

Appended List:  ['Jan', 'Feb', 'Mar', ['Apr', 'May', 'Jun']]
Extend List:  ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [72]:
# Tuples

tuple_example = () # tuple()
another_tuple = tuple()

# tuple_example == another_tuple

tuple_example = "Hameed", "Olanrewaju"

print("First Name: ",tuple_example[0])
print("Last Name: ",tuple_example[1])

First Name:  Hameed
Last Name:  Olanrewaju

In [71]:
# Tuple are immutable
tuple_example[0] = "Billy"

TypeError: 'tuple' object does not support item assignment

In [74]:
dimensions = (10, 20, 50)

length, bredth, height = dimensions

print(f"The dimensions are {length} X {bredth} X {height}")

The dimensions are 10 X 20 X 50

In [80]:
# Sets

set_example = {}* # set()

list_of_numbers = [5,2,3,4,5, 1, 2]

set_of_numbers = set(list_of_numbers)

print("List: ",list_of_numbers)
print("Set: ",set_of_numbers)

List:  [5, 2, 3, 4, 5, 1, 2]
Set:  {1, 2, 3, 4, 5}

In [154]:
set_example = {}

set_example == set()

False

In [83]:
# `in` and `not in` operations

5 not in set_of_numbers

False

In [87]:
# adding and removing elements

# adding a new element
set_of_numbers.add(10)

# removing an element
set_of_numbers.pop()

set_of_numbers

{2, 3, 4, 5, 10}

In [88]:
list_items = [1,1,3,2,2,4,5,4,7]

list(set(list_items))

[1, 2, 3, 4, 5, 7]

In [96]:
# Dictionaries

dict_example = {}

dict_example == dict()

# dictionary_example = {"Key_1":"value_1", "key_2":"value_2"}

# type(dictionary_example)

dict_example["Name_1"] = "Billy"
dict_example["Name_2"] = "Hameed"

dict_example

{'Name_1': 'Billy', 'Name_2': 'Hameed'}

In [101]:
# `in` and `not in`

"Billy" in dict_example.get("Name_1")

True

In [107]:
dict_example.get("Name_3", 0)
# dict_example["Name_2"]

0

In [108]:
# Example

# Given a dictionary;
animals = {'dogs': [20, 10, 15, 8, 32, 15], 'cats': [3,4,2,8,2,4], 'rabbits': [2, 3, 3], 'fish': [0.3, 0.5, 0.8, 0.3, 1]}

In [110]:
# What are the keys in the dictionary

list(animals.keys())

['dogs', 'cats', 'rabbits', 'fish']

In [111]:
# Return the values in the dictionary
animals.values()

dict_values([[20, 10, 15, 8, 32, 15], [3, 4, 2, 8, 2, 4], [2, 3, 3], [0.3, 0.5, 0.8, 0.3, 1]])

In [112]:
# what is the length of the dictionary

len(animals)

4

In [131]:
# Return the key of the last item
list(animals.items())#[-1][-1]#[1]

[('dogs', [20, 10, 15, 8, 32, 15]),
 ('cats', [3, 4, 2, 8, 2, 4]),
 ('rabbits', [2, 3, 3]),
 ('fish', [0.3, 0.5, 0.8, 0.3, 1])]

In [129]:
animals.get("fish")#[3]

[0.3, 0.5, 0.8, 0.3, 1]

In [130]:
animals[3]

KeyError: 3

In [135]:
animal_data = [('dogs', [20, 10, 15, 8, 32, 15]),
 ('cats', [3, 4, 2, 8, 2, 4]),
 ('rabbits', [2, 3, 3]),
 ('fish', [0.3, 0.5, 0.8, 0.3, 1])]

animal_data[2][1].append(7)

dict_of_animals = dict(animal_data)
dict_of_animals["rabbits"] = set(animal_data[2][1])
dict_of_animals

{'dogs': [20, 10, 15, 8, 32, 15],
 'cats': [3, 4, 2, 8, 2, 4],
 'rabbits': {2, 3, 7},
 'fish': [0.3, 0.5, 0.8, 0.3, 1]}

In [139]:
{"Str": "dogs"}

{'Str': 'dogs'}

In [141]:
# Compond Data Structures

example_of_compound_data_structure = {
    "Billy": {
        "height" : 170,
        "weight" : 70,
        "age" : 25
    },
    "Hameed": {
        "height" : 180,
        "weight" : 80,
        "age" : 35
    }
}

In [147]:
# example_of_compound_data_structure["Hameed"]["age"]
example_of_compound_data_structure.get("Hameed").get("age")

35

In [150]:
example_of_compound_data_structure["Hameed"]["children"] = ["Ifeoluwa", "Ireoluwa"]

example_of_compound_data_structure["Hameed"]["children"].append("Idowu")

example_of_compound_data_structure["count"] = 2

example_of_compound_data_structure

{'Billy': {'height': 170, 'weight': 70, 'age': 25},
 'Hameed': {'height': 180,
  'weight': 80,
  'age': 35,
  'children': ['Ifeoluwa', 'Ireoluwa', 'Idowu']},
 'count': 2}