In [1]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist)

35

In [9]:
val = 10

In [15]:
@var2 = 22

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2035343625.py, line 1)

In [16]:
import = 2022

SyntaxError: invalid syntax (2342367045.py, line 1)

In [17]:
# This is a comment

In [18]:
# Assign age to value 25
age = 25

In [19]:
# Multiple line comment
# This is comment 1
# This is the next one

In [20]:
"""
This is another 
way of writing a 
multiple line comment
"""

'\nThis is another \nway of writing a \nmultiple line comment\n'

Statement

### Arithmetic Operators
- ``+`` Addition
- ``-`` Subtraction
- ``*`` Multiplication
- ``/`` Division
- ``%`` Mod (reminder of a division operation)
- `**` Exponent
- `//` floor operator (rounds down the result of a division operation to the newarest whole number value)

In [24]:
var1 = 10
var2 = 20

result = var1 + var2
print("+ operator with numbers: ", result)

var1 = "Today is "
var2 = "Saturday"
print("+ operator with strings: ", var1 + var2)

+ operator with numbers:  30
+ operator with strings:  Today is Saturday

In [21]:
area_of_rectangle = 10 * 20

In [30]:
# * operator with strings
'*' * 30

'******************************'

In [35]:
# Modulus operation
30 % 12

6

In [39]:
# Exponentiation
# 2**3
2*2*2

8

In [43]:
# Floor operator

30 // 4

7

In [ ]:
# Escape character
3 \ 
4

In [49]:
# Example of Arithmentic Operation in Python

'''
Two parts of a floor need tiling. One part is 9 tiles wide by 7 tiles long, 
the other is 5 tiles wide by 7 tiles long. Tiles come in packages of 6.

How many tiles are needed?
You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?
'''

tiles_needed = (9 * 7) + (5 * 7)
left_over = (17 * 6) - tiles_needed

print("Tiles needed: ", tiles_needed)
print("Leftover Tiles: ", left_over)

Tiles needed:  98
Leftover Tiles:  4

In [50]:
# Variable Assignement
a = 4
b = 3
c = 9

In [53]:
a, b, c = 4, 8, 9

In [54]:
b

8

Assignment Operator

- ``=`` Assigment Operator
- ``+=`` Increment Operator
- ``-=`` Decrement Operator
- ``*=`` Multiplier Operator

Comparison Operators
- ``==`` Equality Operator
- ``<`` Less than
- ``>`` Greater than
- ``<=`` Less or Equal
- ``>=`` Greater or Equal
- ``!=`` Not Equal
Logical Operators
- ``and`` Logical and - "&"
- ``or`` Logical Or - "|"
- ``not`` inverse

In [64]:
day = 22
day **= 5 # day = day + 1
# day = day + 1
day

5153632

### Data Types

In [68]:
# Integers and Float

type(7 == 8)

7 <= 8

True

In [73]:
"Integer" < "Float"

False

In [78]:
# Strings

string1 = 'This is a string in single quote'
string2 = "This is a string in a double quote"

another_string = 'today\'s is saturday'
another_string

"today's is saturday"

In [90]:
# f-string
index = 1
f"Index is: {index}"

'Index is: 1'

In [92]:
# without an f-string
"Index is: " + str(index)

'Index is: 1'

In [89]:
print("My String: ", string1)
index = -3
print(f"Index {index} is: ", string1[index])

My String:  This is a string in single quote
Index -3 is:  o

In [82]:
len(string1)

32

In [106]:
# String Slicing

start_index = 3
end_index = 32
print(string1 + "\n", f"Slice of {start_index} to {end_index} is: ", string1[start_index:end_index])

This is a string in single quote
 Slice of 3 to 32 is:  s is a string in single quote

In [127]:
# Other String Methods
string1 = 'string_one'
print("Capitalize\n", string1+"\n", string1.capitalize())
print("Upper\n", string1+"\n", string1.upper())
print("Lower\n", string1+"\n", string1.lower())
print("Count\n", string1+"\n", string1.count('n'))
print("FInd\n", string1+"\n", string1.find('g'))

Capitalize
 string_one
 String_one
Upper
 string_one
 STRING_ONE
Lower
 string_one
 string_one
Count
 string_one
 2
FInd
 string_one
 5

In [142]:
# string format method

string = "Number in 2 decimals {:.4}\n Number in 1 decimal {:.3}"
print(string.format(2.026475,2.026475))

Number in 2 decimals 2.026
 Number in 1 decimal 2.03

In [143]:
# Split

string = 'This is a string in single quote'
string.split()

['This', 'is', 'a', 'string', 'in', 'single', 'quote']

In [151]:
# String Join
word_list = ['This', 'is', 'a', 'string', 'in', 'single', 'quote', '250']
" * ".join(word_list)

'This * is * a * string * in * single * quote * 250'

In [122]:
# Type Casting / Type Conversion

var1 = -1
var2 = 1.0
var3 = "string"
var4 = False

# type(var1*var2)
# float(var)
int(var2)

str(var2)

int(var4)

bool(var1)

True