In [2]:
%pip install snscrape

Collecting snscrape
  Using cached snscrape-0.4.3.20220106-py3-none-any.whl (59 kB)
Requirement already satisfied: requests[socks] in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from snscrape) (2.27.1)
Collecting lxml
  Downloading lxml-4.9.0-cp39-cp39-win_amd64.whl (3.6 MB)
Collecting filelock
  Using cached filelock-3.7.1-py3-none-any.whl (10 kB)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
Collecting soupsieve>1.2
  Using cached soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from requests[socks]->snscrape) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from requests[socks]->snscrape) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from requests[socks]->snscrape) (2.0.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\ng005454\onedrive\project\stutern\sga11_dsci\011122\envs\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: soupsieve, lxml, filelock, beautifulsoup4, snscrape
Successfully installed beautifulsoup4-4.11.1 filelock-3.7.1 lxml-4.9.0 snscrape-0.4.3.20220106 soupsieve-2.3.2.post1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Users\ng005454\OneDrive\Project\STUTERN\SGA11_DSCI\011122\envs\python.exe -m pip install --upgrade pip' command.

In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import datetime

query = "(from:elonmusk) until:{} since:2022-01-01".format(datetime.today().strftime("%Y-%m-%d"))
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.user.username, tweet.content])
        
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

In [7]:
# print(df)
df
# to save to csv
# df.to_csv('tweets.csv')

,Date,User,Tweet
0,2022-05-14 23:55:42+00:00,elonmusk,The Lawyers Who Ate California https://t.co/i4...
1,2022-05-14 23:18:15+00:00,elonmusk,@nichegamer Just another day in Elden Ring!
2,2022-05-14 23:15:37+00:00,elonmusk,@PPathole @Twitter Twitter legal just called t...
3,2022-05-14 23:08:17+00:00,elonmusk,(This message brought to you by the Illuminaug...
4,2022-05-14 23:04:15+00:00,elonmusk,Very important to fix your Twitter feed:\n\n1....
...,...,...,...
1210,2022-01-02 22:56:00+00:00,elonmusk,https://t.co/LA9hPzVlGx
1211,2022-01-02 18:19:33+00:00,elonmusk,Letâ€™s make the roaring 20â€™s happen!
1212,2022-01-02 17:56:50+00:00,elonmusk,Great work by Tesla team worldwide! https://t....
1213,2022-01-01 01:58:52+00:00,elonmusk,@BLKMDL3 @Tesla ðŸ”¥
1214,2022-01-01 00:53:13+00:00,elonmusk,@MiFSDBetaTester @WholeMarsBlog ðŸ¤£

In [4]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import datetime

query = "(from:elonmusk) until:{} since:2022-01-01".format(datetime.today().strftime("%Y-%m-%d"))

limit = 5000

def extract_tweets(query, limit = 5000) -> pd.DataFrame:
    tweets = []
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        # print(vars(tweet))
        # break
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username, tweet.content])
    return pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

In [10]:
handle = 'Sir_Kb' #'elonmusk'
from_date = '2021-01-01'
query = f"(from:{handle}) until:{datetime.today().strftime('%Y-%m-%d')} since:{from_date}"

limit = 15000

data = extract_tweets(query, limit)

data

Empty DataFrame
Columns: [Date, User, Tweet]
Index: []

In [1]:
import numpy as np
import pandas as pd

import random

items = [1,2,3,4,5]

random.choice(items)

5

In [17]:
pd.DataFrame({'Gender':'Male', 'Married':'No', 'Dependents':1,'Self_Employed':'Grdauate', 'Income':'No','Property_Area': 2105000,'unknown':'Urban','Total_Amount_Spent':50000,'Prev_Credit_Duration':18,'Credit_History':1}, index=range(1))

,Gender,Married,Dependents,Self_Employed,Income,Property_Area,unknown,Total_Amount_Spent,Prev_Credit_Duration,Credit_History
0,Male,No,1,Grdauate,No,2105000,Urban,50000,18,1

In [8]:
df = pd.DataFrame({"Adm_grade":range(10,100,10)})

# df

In [7]:
# df['Grade_Label'] = df.Adm_grade.map({10:"A"})
def grade_threshold(grade):
    if grade in range(0,30):
        label = "F"
    elif grade in range(30,40):
        label = "E"
    elif grade in range(40,50):
        label = "D"
    elif grade in range(50,60):
        label = "C"
    else: 
        label = 'Undefined'
    return label

df['Grade_Label'] = df.Adm_grade.map(grade_threshold)

df

   Adm_grade Grade_Label
0         10           F
1         20           F
2         30           E
3         40           D
4         50           C
5         60   Undefined
6         70   Undefined
7         80   Undefined
8         90   Undefined

In [10]:
data = pd.Series([1, 2, np.nan, 4, np.nan])
print(data.fillna(method = "ffill"))

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
dtype: float64